nonebot[scheduler]~=1.6.0
aiocqhttp>=1.2
lxml>=4.4.1
pytz>=2019.3
requests>=2.22.0
sogou_tr_free>=0.0.6
zhconv>=1.4.0
Pillow>=6.2.1
TwitterAPI>=2.5.10
matplotlib>=3.2.0
numpy>=1.18.0
beautifulsoup4>=4.9.0
pygtrie>=2.0
tinydb>=4.0
aiohttp>=3.6
httpx
googletrans
emoji
feedparser~=5.2.1
apscheduler
pyquery
retrying
arrow
psutil
pyyaml~=5.3.1
sqlitedict~=1.7.0
filetype~=1.0.7
opencv-python
opencv-contrib-python
asyncio~=3.4.3
ujson~=1.35
yaml~=0.2.5
fuzzywuzzy~=0.18.0